body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #fff;
}

.main {
    background: #f2f4f7;
    padding-top: 117px;
    padding-bottom: 130px;
}

.main-block {
    width: 980px;
    margin: 0 auto;
    display: flex;
}

.facebook-text {
    width: 460px;
    padding-right: 100px;
}

.facebook-logo {
    width: 320px;
    height: 106px;
}

.facebook-subtitle {
    font-family: Arial, sans-serif;
    width: 100%;
    margin-top: -10px;
    margin-left: 30px;
}

.login {
    width: 450px;
    display: flex;
    flex-direction: column; /* ВАЖНО */
    align-items: center;    /* по центру */
}


.login-block {
    width: 396px;
    height: 350px;

    background: #fff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.login-form {
    display: flex;/* Распределяет на весь блок */
    flex-direction: column; /*по строкам*/
}



.login-and-password {
    width: 396px;
    height: 132px;
    padding-top: 10px;
    padding-bottom: 10px;
}



.text-box {
    height: 52px;
    margin-bottom: 12px;
    padding: 0 20px; /* 0 сверху и снизу, 8 слева и справа*/

    font-size: 16px;
    text-align: left;
    color: #333333;
    border: 1px solid #dddddd;
    border-radius: 8px;

}

.text-box:focus { /*Когда нажат ввод*/
    border-color: #00A5D2;
    color: #8a8a8a;
}

.login-button {
    width: 380px;
    height: 50px;
    margin: 0 auto;

    font-size: 24px;
    font-weight: bold;
    color: #fff;
    border-radius: 8px;
    background: #0865fd;
    border: none;
}

.forgot-password {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.border {
    margin: 30px 0;
    border: 1px solid #dddddd;
}

.create-account {
    width: 240px;
    height: 48px;
    margin: 0 auto;

    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #60D156;
    color: #fff;
    border-radius: 8px;
    border: none;
}

.create-for-special {
    margin-top: 28px;
    text-align: center;
    font-size: 14px;
    max-width: 396px;
}


.create-special {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.create-special:hover {
    text-decoration: underline;
}

.information-block {
    padding-top: 20px ;
    background: #fff;
    font-size: 12px;
}

.information-block-text {
    margin: 0 auto;
    max-width: 980px;
}

.language {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 980px;

    display: flex;
    flex-wrap: wrap; /* если не влезут — перенесутся */
    gap: 10px;
    color: #625b5b;
}

.more-languages {
    width: 30px;
    height: 20px;
    padding-bottom: 6px;

    border: 1px solid #dddddd;
    font-size: 14px;

}

.border-inf {
    height: 1px;
    background: #dddddd;
    margin: 15px 0;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 980px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-links li a {
    text-decoration: none;
    color: #625b5b;
}
