body {
    font-family: Bahnschrift;
    margin: auto;
}

h1 {
    color: darkred;
    font-size: 32px;
}

h3 {
    color: #730673;
}

a {
    text-decoration: none;
    color: #a111a1;
}
a:hover {
    text-decoration: underline;
}
.asta-block{
    width: 1000px;
    border: 1px solid black;
    background: #FFF4A3;
    padding: 10px;
    margin: 0 auto;
}
.main-information {

}
.quote {
    font-style: italic;
    background: black;
    color: white;
    width: 380px;
}
.name {
    width: 400px;
    margin-left: 20px;
}

.about,
.port,
.port2 {
    display: inline-block;
    vertical-align: top;
}

.about {
    width: 700px;
}

.port {
    margin: 20px;
    border: 10px outset #000000;
    width: 150px;
}

.port2 {
    margin: 20px;
    border: 10px outset #000000;
    width: 100px;
}

.black-clever-img {
    margin: 20px;
    border: 10px outset #000000;
    width: 400px;
    margin: 10px 300px;

}


.big-text {
    font-size: 1.1em;
    font-weight: bold;
}

.aptitude{
    width: 100%;
}

.aptitude, .aptitude th, .aptitude td {
    border: 1px solid black;
    border-collapse: collapse;
}